@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');
.container{
    width: 100%;
    margin: 0 auto;
}
.product{
    display: flex;
}
.product_img{
    width: 40%;
    padding-top:40%;
    background-image: url("https://cdn.pancake.vn/1/s600x600/57/c3/7a/66/aa66e5fc6d69090e25679db1f81a1185930f5a70a6d049f77bcd9856.jpg");
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }
.product_info{
    width: 60%;
    margin-top: 40px;
    margin-left: 40px;
}
.product_name{
    margin: 0;
    font-size: 30px;
    line-height: 40px;
}
.product_price{
    font-size: 20px;
    color: red;
    line-height: 30px;
    margin: 10px 0;
}
.product_desc{
    font-size: 16px;
    line-height: 20px;
}
.category{
    padding: 0 0 0 30px;
    font-size:14px;
    line-height: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.category h2 {
    line-height: 50px;
    margin: 0;
}
.category-list{
    width: 20%;
}
.course{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.course1, .course2, .course3, .course4{
    width: 25%;
    padding-right: 20px;
}
.cards{
    width: 100%;
    display: flex;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 100px;
    flex-wrap: wrap;
}
.card{
    width: 30%;
    margin: 10px auto;
    background-color: #66FF66;
    padding: 10px 40px;
    border-radius: 20px;
    box-shadow: 5px 7px #660033;
}
.card > h3{
    font-size: 25px;
    font-family: 'Alkalami', serif;
    line-height: 40px;
    margin: 0;
    text-align: center;
    letter-spacing: 1px;
    color: #003300;
}
.card:nth-child(2){
    background-color: #CC99FF;
    color: #000000;
}
.card:nth-child(3){
    background-color: #66CCFF;
    color: #000000;
}
p {
    margin: 0;
}